#Home{
    display: grid;
    overflow-y: hidden;
    grid-template-areas: 
    'header header'
    'main aside '
    'section section';
    gap: 10px;

}


#Home header {
    display: flex;
    grid-area: header;
    height: 60px;
    align-items: center;

    padding-left: 100px;
    padding-right:100px;
    padding-top: 50px;

    
    justify-content: space-between;
}

#Home header .social{
    display: flex;
}

#Home header .social .middle-icon{
    padding-left: 30px;
    padding-right: 30px;

}


/* Code Imagem  */
#Home aside {
    grid-area: aside;
    padding-top: 190px;
}

#Home aside img{
    max-width: 599px;
}

#Home .hello {
    font-family:'Poppins', sans-serif;
    font-size: 50px;
    margin-bottom: 40px;

    /* Gradiente */
    background-image: linear-gradient(to bottom right, #CBBEE7, #FFFFFF);
    
    background-size: 100%;
    background-repeat: repeat;
    background-clip: initial;


    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

}

#Home #Information img{
    max-width: 100px;
    clip-path: circle();
}

#Home #Information .Me{
    height: 160px;

}

#Home #Information .hello{
    padding-top: 60px;
    padding-left: 21px;

}

#Home #Information .Me-hello{
    display: flex;
    align-items: center;
}

#Home #Information p,ul{
    font-size: 16px;
    color: #8B949E;
}

#Home #Information ul{
    padding-left: 30px;
    padding-top: 25px;

}
#Home #Information .port-tittle {
    padding-top: 4px;
    color: #fff;

}


#Home #Information .introduction {
    color: #ACB4FE;
    font-size: 18px;
    padding-bottom: 26px;
}

#Home #Information .Intro-port{
    padding-left: 22px;
}



/* Informação */
#Home main{
    grid-area: main;


    color: #fff;


    display: flex;
    flex-direction: column;
    /* justify-content: center; */

    padding-left: 170px;
} 

#Home .line-box{
    padding-left: 140px;


}

#Home .line{
    width: 2px;
    height: 244px;
    background-color:#FFFFFF;

    background-image: linear-gradient(#0D1117, #8B949E);
    
}


/*Carolseu*/
.projects{
    grid-area: section;
    max-width: 75vw;
}
.projects .carousel{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    justify-items: center;
}

.projects .carousel .item{
    height: 341px;
    width: 416px;
    
    background: linear-gradient(180deg, #171A1B 0%, rgba(23, 26, 27, 0) 100%);

    margin: 48px;
    border-radius: 15px;
    
    flex: none;
    display: grid;
    align-items: center;
}

.projects .carousel .item .info{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}

.projects .carousel .item .info .name{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    color: #cccccc;
}


.projects .carousel .item .image img{
    width: 200px;
    height: 160px;
    object-fit: contain;
}

.projects .carousel .item .image{
    display: flex;
    justify-content: center;
}

.projects .carousel .item .dots{
    display: flex;
    padding-left: 25px;
    padding-top: 3px;
}

.projects .carousel .item .dots > div{
    clip-path: circle();
}

.projects .carousel .item .dots .yellow {
    padding-left: 8px;
    padding-right: 8px;
}



