#Home{
    display: grid;
    overflow-y: hidden;
    grid-template-areas: 
    'header header'
    'main aside '
    'section section';
    gap: 10px;
}

header {
    display: flex;
    grid-area: header;
    height: 60px;
    align-items: center;

    padding-left: 100px;
    padding-right:100px;
    padding-top: 50px;

    
    justify-content: space-between;
}



header .social{
    display: flex;
}

#Home header .theme{
    cursor: pointer;
}

#light #Home header .theme{
    filter: invert(100%);
}



#light header .social .linkedin{
    filter: invert(100%);
}


header .social .middle-icon{
    padding-left: 30px;
    padding-right: 30px;    
}

#light #Home header .social .middle-icon{
    filter: invert(100%);
}

#light #Home header .social .intagram{
    filter: invert(100%);
}

#Home .hello {
    font-family:'Poppins', sans-serif;
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 40px;

    margin-top: 90px;
    padding-left: 19px;

    /* Gradiente */
    background-image: linear-gradient(99.51deg, #CBBEE7 9.03%, #FFFFFF 89.53%);
    
    background-size: 100%;
    background-repeat: repeat;
    background-clip: initial;


    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#light #Home .hello{
    background: linear-gradient(99.51deg, #374F4A 9.03%, #344243 89.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}




#Home #Information img{
    max-width: 100px;
    clip-path: circle();
}

#Home #Information .Me-hello{
    display: flex;
    align-items: center;
}

#Home #Information p,ul{
    font-size: 16px;
    color: #8B949E;
}


#Home #Information ul{
    padding-left: 30px;
    padding-top: 25px;

}

#light #Home #Information ul li{
    color: #002719;
}



#Home #Information .port-tittle {
    padding-top: 4px;
    color: #fff;

}

#light #Home #Information .port-tittle{
    color: #000000;
}


#Home #Information .introduction {
    color: #ACB4FE;
    font-size: 18px;
    padding-bottom: 26px;
}

#light #Home #Information .introduction {
    color: #2F8FE8;
}

#light #Home #Information .intro-p{
    color: #002719;
}

#Home #Information .Intro-port{
    padding-left: 22px;
}

#Home aside {
    grid-area: aside;
    
    width: 599px;
    height: 387px;
    background-color: #171A1B;

    border-radius: 15px 15px 0px 0px;

    border: 1px solid #4A4A4A;

    margin-top: 265px;

}

#light #Home aside{
    background-color: #171A1B;
}

#Home .mac .mac-header{
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}

#Home .mac .mac-header .dots{
    display: flex;
    padding-left: 24px;
}

#Home .mac .mac-header .search-bar{
    width: 300px;
    height: 14px;

    background-color: #202226;
    opacity: 0.9;
    border-radius: 5px;

    display: flex;
    justify-content: center;

    margin-right: 149px;
}

#light #Home .mac .mac-header .search-bar{
    background-color: #202226;
}

#Home .mac .dots .yellow{
    padding-left: 8px;
    padding-right: 8px;
}

#Home .mac .dots > div{
    clip-path: circle();
}


#Home .mac .search-bar p {
    font-weight: 400;
    font-size: 10px;

    color: #FFFFFF;
}

 #Home .mac .about-education{
    display: grid;
    padding-left: 96px;

 }

 #Home .mac .about-education .about-me .abt-inner{
    padding-left: 25px;
    color: #0EE6B7;
    padding-top: 15px;
    padding-bottom: 15px;
 }

 #Home .mac .about-education .about-me{
    padding-top: 65px;
    padding-bottom: 15px;
    color: #7000FF;

 }

 #Home .mac .about-education .education .educ-inner{
    padding-left: 25px;
    color: #0EE6B7;
    padding-top: 15px;
    padding-bottom: 15px;
 }

 #Home .mac .about-education .education .key{
    display: flex;
    align-items: center;
    gap: 2px;
 }

 #Home .mac .about-education .education .key::after{
    content: "";
    width: 8px;
    height: 19px;
    background: #E5E5E5;
    display: inline-flex;

    animation: cursor-blink 1.5s steps(2) infinite;
 }

 @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }

 #Home .mac .about-education .education{
    color: #7000FF;

 }



/* Informação */
#Home main{
    grid-area: main;


    color: #fff;


    display: flex;
    flex-direction: column;
    /* justify-content: center; */

    padding-left: 170px;
} 

#Home .line-box{
    padding-left: 140px;


}

#Home .line{
    width: 2px;
    height: 244px;
    background-color:#FFFFFF;

    background-image: linear-gradient(#0D1117, #8B949E);   
}

#light #Home .line{
    background-image: linear-gradient(#BEBDBD, #1B1C1D);
}


/*Carolseu*/
.projects{
    grid-area: section;
    max-width: 95vw;

    
}
.projects .carousel{
    display: flex;
    overflow-x:hidden;
    justify-items: center;
    position: relative;
    
}

.projects .carousel:hover .item{
    animation-play-state: paused;
}

.projects .carousel .item{
    height: 341px;
    width: 416px;
    
    background: linear-gradient(180deg, #171A1B 0%, rgba(23, 26, 27, 0) 100%);

    margin: 48px;
    border-radius: 15px;
    
    flex: none;
    display: grid;
    align-items: center;

    position: relative;
    animation: marquee 180s infinite;

}

@keyframes marquee {
    0% {transform: translate(0, 0);}
    100% { transform: translate(-800%, 0);}
}


#light .projects .carousel .item{
    background-color: #0D1117;
}

.projects .carousel .item .info{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}

.projects .carousel .item .info .name{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    color: #cccccc;
}


.projects .carousel .item .image img{
    width: 200px;
    height: 160px;
    object-fit: contain;
}

.projects .carousel .item .image{
    display: flex;
    justify-content: center;
}

.projects .carousel .item .dots{
    display: flex;
    padding-left: 25px;
    padding-top: 3px;
}

.projects .carousel .item .dots > div{
    clip-path: circle();
}

.projects .carousel .item .dots .yellow {
    padding-left: 8px;
    padding-right: 8px;
}

.projects p{
    padding-left: 260px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 23px;
    color: #FFFFFF;
}

#light .projects p{
    color: #0D1117;
}




